div.codeclipboard_button {
 float: right;
 width: 30px;
 height: 30px;
 position: relative;
 margin: -10px -10px;
 background: url('img/icon.png');
 background-size: cover;
 opacity: .8;
 transition: rotate .2s;
}

div.codeclipboard_button:hover {
  cursor: pointer;
  opacity: 1;
}

div.codeclipboard_button:active {
  transform: rotate(30deg);
}
